.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* ---------------------
General Rules 
-----------------------*/
.main-content {
  padding-top: 58px; /* Adjust this value based on the actual height of your navbar */
}

/* ----------
Navbar
---------- */
.navbar-nav .active-dropdown a {
  color: rgba(0, 0, 0, 1);
}
.App-link {
  color: #61dafb;
}

.main-carousel .carousel-control-prev,
.main-carousel .carousel-control-next {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  width: auto;
}

.main-carousel .carousel-control-prev {
  left: -70px;
}

.main-carousel .carousel-control-next {
  right: -70px;
}
.main-modal .modal-image-container {
  position: relative;
}

.main-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
}
.full-width-image img {
  width: 100%;
}
.IMGrid {
  transition: box-shadow 0.3s ease;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.IMGrid:hover {
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}
